body {
	padding-top: 10%;
	background-image: url('https://image.freepik.com/free-vector/cartoon-math-elements-background_23-2148157889.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	justify-content: center;
	font: italic 1.3em "Fira Sans", serif;
}

#subi{
	margin-left: 60px;
}

#divi{
	margin-left: 60px;
}
#bb{
	margin-left: 2%;
}

input{
	border: 5px;
}
#a{
	color: red;
}
#b{
	color: red;
}
h4{
	padding-bottom: 3%;
	padding-left: 2%;
	color:#D72344;
}