
body{
	background-image: url(wall2.jpg);
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: fixed;
 font: italic 1.2em "Fira Sans", serif;
 	
}
h1 {
	margin-left: 36%;
	color: #D72344;
	font-size: 40px;
}
h3{
	text-align: center;
	color: #D72344;
	font-size: 20px;
}
form{
	
	padding-top: 10px;
}
input{
	width: 250px;
	margin-top: 15px;
	border: 2px solid #0000;
	background-color: #f2f2f3;
	border-radius: 10px;
	padding: 4px;

}
textarea{
	width: 250px;
	height: 100px;
	margin-top: 15px;
	border: 2px solid #f2f2f2;
	background-color: #f2f2f3;
	border-radius: 10px;
	padding: 4px;
}
button{
	width: 100px;
	height: 50px;
	background-color: #ff9966;
	color: #D72344;
	font-size: 15px;
	margin-top: 15px;
	border-radius: 10px;
}
.boxx{
	border: 1px solid #f2f2f2;
	border-radius: 20px;
	height: 420px;
	width: 320px;
	margin-left: 36%;
	text-align: center;
	background-color: skyblue;
}