body{
	background-color: #e2eaf2;
	display: flex;
}
#top{
	background-color: #385898;
	display: flex;
	padding-top: 1.5%;
	padding-left: 12%;

	padding-bottom: 0%;
}
#t3{
	padding-top: 31px;
	padding-left: 70px;
}
#t1{
	padding-right: 15px;
	padding-left: 350px;
}
.flex-container{
	display: flex;
}
.main{
	padding-right: 100px:;
}
