body{
	background-color: #f1f3f6;
	font-family: "Times New Roman", Times, serif;
	font-size: 17.5px;
}

#p1h{
	text-align: center;
	justify-content: center;
	font-family: "Times New Roman", Times, serif;
}

.p1l{
	text-align: left;
	margin: 3% 10%
	

}

.flex-container {
  display: flex;

  }
  #p2s{
  	text-align: right;
  	padding-left: 70%;
  }

.BT{
	text-align: center;
	justify-content: center;
}
  @media print {
  #BB {
    display: none;
  }
}