body{
	background-image: url(wall2.jpg);
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: fixed;
 font: italic 1.2em "Fira Sans", serif;
 	
}
h1 {
	text-align: center;
	justify-content: auto;
	color: #D72344;
	font-size: 40px;
}
.dates button{
	text-align: center;
	padding:12px 18px; 
    background:#B81EF8; 
    border:1px SOLID;
    cursor:pointer;
    border-radius: 150px; 
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 15px rgba(2,2,2,4);
    color: teal;
    font-size: 25px;
    font-style: bold;
    color: #1EE3F8;

}
.dates{
	text-align: center;
	justify-content: auto;
	margin-top: 6%;
}