body{
	margin: 0;
	padding: 0;
}


.ban {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ban video{
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	height: 100%;
	width: 100%;
	pointer-events: none;
}
.ban .con {
	position: relative;
	z-index: 2;
}